body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.subSlideCards .subCard .subCardImage{
     height: 140px;
     width: 100px;
     padding: 3px;
     background: rgb(255, 255, 255);
}

.subSlideCards .subCard .subCardImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.subCard {
    background: rgb(186, 186, 186);
    border-radius: 15px;
    width: 190px;
}


.subCard .subCard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.subCard .book-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

.subCard .feedback {
    display: flex;
    align-items:center;
    margin-top: 5px;
}

.subCard .like {
    font-size: 18px;
    margin: 0 2px;
    color: yellow;
}

.subCard .button {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.subCard .button button{
    background: rgb(255, 255, 255);
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.book-author .book {
    font-size: 20px;
    font-weight: 600;
}

.book-author .author {
    font-size: 15px;
    font-weight: 500;
}

.button button:hover {
    background: rgb(32, 186, 4);
}